// Application-level settings for the Runner target.

// App name (internal product name)
PRODUCT_NAME = impostor_app

// ✅ Bundle identifier (MUST match Xcode / App Store Connect)
PRODUCT_BUNDLE_IDENTIFIER = com.rgioia.impostorwords

// Optional
PRODUCT_COPYRIGHT = Copyright © 2026 Ramiro Gioia. All rights reserved.

// Includes
#include "../../Flutter/Flutter-Debug.xcconfig"
#include "Warnings.xcconfig"

#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"
